.booking {
  background-image: url('../img/booking-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-light-blue;
  padding: 50px 0;

  @include vp-1023 {
    background-image: url('../img/booking-background-tablet.jpg');
    padding: 88px 0;
  }

  @include vp-767 {
    padding: 58px 0;
  }
}

.booking__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;

  @include vp-1023 {
    flex-direction: column;
  }
}

.booking h2 {
  margin: 0;
  color: $color-dark-blue;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 30px;

  @include vp-1023 {
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 20px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    margin-bottom: 15px;
  }
}

.booking p {
  margin: 0;
  color: $color-dark-blue;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  @include vp-1023 {
    margin-bottom: 60px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 32px;
    text-align: center;

    & br {
      display: none;
    }
  }
}

.booking__form {
  padding: 50px;
  background-color: $color-dark-blue;
  display: flex;
  flex-direction: column;
  max-width: 403px;

  @include vp-767 {
    padding: 35px 30px 40px;
  }
}

.booking__form h3 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 30px;
  color: $color-white;

  @include vp-767 {
    text-align: center;
  }
}

.booking__form label {
  margin-bottom: 20px;
  position: relative;

  & .input-message {
    position: absolute;
    right: 0;
    bottom: -20px;
    font-size: 10px;
  }
}

.booking__form input {
  width: 100%;
  background-color: $color-white;
  padding: 11px 16px;
  border: none;

  &::-webkit-input-placeholder {
    color: $color-dark-blue-opacity;
  }

  &:-moz-placeholder {
    color: $color-dark-blue-opacity;
  }
}

.booking__checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  br {
    display: none;
  }

  @include vp-767 {
    gap: 8px;
    justify-content: flex-start;

    br {
      display: block;
    }
  }
}

.booking__checkbox input {
  appearance: none;
  height: 0;
  width: 0;
  padding: 0;

  &:checked ~ .booking__checkbox-mark::before {
    position: absolute;
    width: 7px;
    height: 1px;
    content: "";
    background-color: $color-blue;
    top: 50%;
    left: 3px;
    transform: rotate(45deg);
  }

  &:checked ~ .booking__checkbox-mark::after {
    position: absolute;
    width: 8px;
    height: 1px;
    content: "";
    background-color: $color-blue;
    top: 50%;
    left: 8px;
    transform: rotate(-45deg);
  }
}

.booking__checkbox-mark {
  width: 18px;
  height: 18px;
  background-color: $color-white;
  display: block;
  position: relative;
}

.booking__checkbox-remark {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: $color-white;
}

.booking__button {
  border: none;
  cursor: pointer;
  padding: 15px 15px 17px 15px;
  color: $color-dark-blue;
  background-color: $color-white;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
