.info {
  padding: 112px 0 145px 0;

  @include vp-1023 {
    padding: 94px 0;
  }

  @include vp-767 {
    padding: 60px 0 88px 0;
  }
}

.info__image-wrapper {
  @include vp-1023 {
    align-self: flex-start;
  }

  @include vp-767 {
    width: 100%;
  }
}

.info__container {
  display: flex;
  column-gap: 88px;
  align-items: center;

  @include vp-1023 {
    column-gap: 30px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.info__text-wrapper {
  color: $color-dark-blue;
  width: 45%;

  @include vp-1023 {
    width: 48%;
    margin-top: -10px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 43px;
  }
}

.info__text-wrapper h2 {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 23px;
  min-width: max-content;

  br {
    display: none;
  }

  @include vp-1023 {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 15px;

    br {
      display: block;
    }
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 34px;
  }
}

.info__text-wrapper p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.info__image-wrapper img {
  @include vp-1023 {
    width: 324px;
  }

  @include vp-767 {
    width: 100%;
    object-fit: cover;
  }
}
