.main-footer {
  background-color: $color-dark-blue;
  padding: 50px 0;
}

.main-footer__container {
  display: flex;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    align-items: baseline;
    gap: 30px;
  }
}

.main-footer__logo {
  margin-right: 40px;

  @include vp-1023 {
    margin-right: 25px;
  }
}

.main-footer__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 33px;
  flex-wrap: wrap;

  @include vp-1023 {
    gap: 23px;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.main-footer__nav-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;

  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }
}

.main-footer__social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-left: auto;
  gap: 27px;
  flex-wrap: wrap;

  @include vp-1023 {
    gap: 22px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}
